@model FileManagerModel

@if (Model.Files != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Photos</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @{int index = 1;}
            @foreach (var f in Model.Files)
            {
                <tr style="width:0">
                    <td>    @index</td>
                    <th style="width:40%; width:30%"> <img src="http://localhost:37903//images/@f.Name" style="width:30%; width:20%"></th>
                    <td>@f.Name</td>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
<div class="clearfix"></div>